@charset "UTF-8";

/* A mente do site */
body {
    background-color: var(--azul);
    color: white;
    font-family: Parisienne;
    font-size: 1.8em;
}
body::before{
    content: "";
    background-image: url(../img/fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center bottom;
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    height: calc(100vh + 35em);
    opacity: 0.6;
}

/* O corpo do site */
/* E o seu cabeçalho */
.cabecalho {
    display: flex;
    justify-content: center;
}
.cabecalho .logo {
    width: 40%;
    height: auto;
    margin: 2%;
    margin-bottom: 5%;
}

/* o conteúdo do site */
.selecao-de-personagens {
    display: flex;
    flex-direction: row; /* Por padrão. Nesse caso, nem precisa. */
    align-items: center;
    gap: 1%;
    min-height: calc(100vh - 152px);
    justify-content: center;
    margin: 0 5%;
}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
}

.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 65%;
    gap: 8px;
}
.selecao-de-personagens .personagens .titulo {
    letter-spacing: 0.3px;
    text-transform: none;
    border-bottom: 2px solid var(--vermelha-escura);
    width: 100%;
    text-align: center;
    font-size: 1.9em;
}
.lista-de-personagens .personagem {
    width: 14%;
}
.lista-de-personagens .personagem img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border-bottom: 10px ridge var(--vermelha-escura);
}
.lista-de-personagens .personagem.selecionada {
    border-radius: 30px;
    box-shadow: 0px 0px 24px 5px var(--vermelha-escura);
    transition-duration: .1s;
}
.lista-de-personagens .personagem img:focus-visible {
    box-shadow: 0 0 20px var(--vermelha-escura);
}

.personagem-selecionada {
    text-align: center;
    max-height: 100%;
    max-width: 30%;
    margin-left: 5%;
    margin-top: 3%;
    box-shadow: 0px 0px 24px 5px var(--vermelha);
    border-radius: 0.1em;
    backdrop-filter: blur(10px);
}
.personagem-selecionada .personagem-grande img {
    width: 100%;
    height: 100%;
    border-radius: 0.1em 0.1em 0 0;
}
.personagem-selecionada .nome-de-personagem {
    border-bottom: 2px solid var(--vermelha-escura);
    letter-spacing: 4px;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
}
.personagem-selecionada .descricao-de-personagem {
    margin-top: 0.8em;
    width: 100%;
    font-size: 0.7em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 0% 6% 5%;
}

/* O rodapé do site */

.rodape {
    background: transparent;
    border: 2px solid #ffffff9a;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.356);
    width: 60%;
    border-radius: 1em;
    margin: 6% auto;
    padding: 1.5%;
    text-align: center;
    font-size: 1.2em;
}
.rodape p {
    padding: 0 2%;
}

.rodape hr {
    margin: 2%;
}

.rodape .lista-de-fontes {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.rodape a {
    color: var(--vermelha-escura);
    font-weight: bold;
    border-radius: 1em;
    padding: 1% 0.5%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.199);
    transition-duration: .2s;
}
.rodape a:focus-visible {
    outline: auto;
}
.rodape a:hover,
.rodape a:focus-visible {
    color: var(--vemelha-clara);
    background-color: rgba(255, 255, 255, 0.034);
}
.rodape a:active {
    color: white;
    background-color: rgba(255, 255, 255, 0.123);
}
