@charset "UTF-8";

/* A responsividade do site */
/* Ajustes nas alturas da imagem de fundo */
@media screen and (max-height: 1023px) and (max-width: 1024px) and (min-width: 768px) {
    body::before {
        background-attachment: fixed;
        min-height: 430vh;
    }
}

@media screen and (min-height: 2000px) {
    body::before {
        background-attachment: fixed;
        max-height: 180vh;
    }
}

/* Ajustes gerais nas telas menores */
@media screen and (max-width: 600px) {
    body {
        font-size: 8vw;
    }
    body::before{
        height: 230vh;
    }
    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }
    .selecao-de-personagens .personagens{
        margin-top: 37px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 1.2em;
    }
    .selecao-de-personagens .lista-de-personagens{
        gap: 9px;
        margin: auto 1.5%;
    }
    .lista-de-personagens .personagem img {
        border-radius: 15px;
    }
    .lista-de-personagens .personagem.selecionada {
        border-radius: 15px;
    }

    .personagem-selecionada {
        margin: 0;
        width: 80%;
    }
    .personagem-selecionada .nome-de-personagem {
        font-size: 1.2em;
    }
    .personagem-selecionada .descricao-de-personagem{
        width: 90%;
        font-size: 0.7em;
        margin: 15px auto;
        padding: 0 1%;
        line-height: 1.4em;
    }

    .rodape {
        font-size: 7.5vw;
        margin-top: 15%;
        width: 90%;
        padding: 5% 2%;
    }
    .rodape hr {
        margin: 5%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1220px){
    body {
        font-size: 8vw;
    }
    body::before{
        height: 290vh;
    }
    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 90%;
        margin: 0 auto;
    }
    .selecao-de-personagens .personagens{
        margin-top: 37px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 1.2em;
    }
    .selecao-de-personagens .lista-de-personagens{
        gap: 9px;
    }
    .lista-de-personagens .personagem img {
        border-radius: 18px;
    }
    .lista-de-personagens .personagem.selecionada {
        border-radius: 18px;
    }

    .personagem-selecionada {
        margin: 0;
        width: 80%;
    }
    .personagem-selecionada .nome-de-personagem {
        font-size: 1.2em;
    }
    .personagem-selecionada .descricao-de-personagem{
        font-size: 0.6em;
        margin: 20px auto 0;
    }

    .rodape {
        font-size: 7.5vw;
        margin-top: 10%;
        width: 90%;
        padding: 5% 0;
    }
    .rodape hr {
        margin: 5% 2%;
    }
}